:host {
    height: 100%;
    display: grid;
    grid-template-rows: min-content min-content 95vh 5vh;
    header {
        mat-toolbar {
            display: inline-flex;
            justify-content: space-between;
        }
    }
    nav {
        background-color: rgb(133, 82, 82);;
    }
    main {
        background-color: honeydew;
    }
    footer {
        background-color: darkgrey;
        display: inline-flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        h4 {
            margin: 0;
        }
    }
}